<h1>Welcome to Twitter!</h1>
<img src="https://logo.com/image-cdn/images/kts928pd/production/08207a1a4c3383abed17d2995786c44959ceaa91-1140x620.png" alt="Twitter Logo" class="twitter-logo">


<h1>Login</h1>

<form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>

  <button type="submit">Login</button>
  <a routerLink="/registration">
    <button class="create-user-button">Create User</button>
  </a>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</form>
